.bettingGridItem {
	padding: 30px;
	display: flex;
	justify-content: center;
}

.gameCard {
	min-width: 250px;
}

/* This is used to make the TabControl in the
  profile page centered */
.MuiTabs-flexContainer {
	justify-content: center;
}
